body{
    background-color: #f4f4f4;
    font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.container {
    margin-top: 1%;
}

.deckTitle{
    margin-left: 5% !important;
}

.delete{
    margin-left: 1rem;
}

#headers{
    font-weight: bold;
}

.shift{
    margin-top: 2%;
    margin-bottom: 2%;
}

#viewModal{
    width: 70%;
}

@media screen and (max-width: 600px) 
{
    #viewModal .row{
        font-size: 10px;
    }

    #viewModal
    {
        width: 95%;
    }

    .cardStatus
    {
        font-size: 8px;
    }

    .reviewButton
    {
        font-size: 5px;
    }

    .view
    {
        font-size: 6px;
    }

    .removeCard
    {
        font-size: 5px;
    }
}