.container{
    width: 90%;
}

body .row{
    margin-top: 2rem;
}

h5 {
    font-weight: bold;
}

#features li {
    font-weight: bolder;
    margin-top: 10pt;
    background-color: indigo;
    color: white;
    text-align: center;
    border-radius: 25px;
}

#featureSection {
    border-radius: 15px;
    margin-top: 15%;
}

#searchSection {
    margin-left: 5%;
    border-radius: 15px;
    margin-top: 3%;
}

#search {
    width: 95%;
    margin-left: 2%;
}

#searchDiv {
    border: black solid 1px;
    border-radius: 10px;
    height: 50%;
}

div h6 {
    margin-left: 5%;
}

@media screen and (max-width: 600px) 
{
    #searchSection {
      margin-left: 0;
      order: 1;
     }
    
     #featureSection {
        font-size: small;
     }

     #features
     {
        font-weight: bold;
     }
     
}